@model ExchangeAddedViewModel


<h1>Company Added</h1>
<h5>Results</h5>

<div>Chars in name : @Model.NumberOfCharsInName</div>
<div>Chars in description : @Model.NumberOfCharsInDescription</div>
<div>Is The company currently hidden : @(Model.IsHidden ? "Yes":"No")</div>